
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

body {
  background-color: black;
}

/*Menu de inicio*/

.menu-botones {
  margin-top: 125px;
  right: 25%;
}
.logo {
  margin: 120px;
  transform: rotate(15deg); 
}
.boton-manual {
  background-color: red;
  color: aliceblue;
  border-radius: 25px;
  max-width: 30px;
  display: flex;
  border: 2px solid white;
  margin-left: 97%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.boton a:hover {
    color: aqua;
    transition: 0.5;
}
.boton-menu, .gestion-usuarios{
  background-color: red;
  border-radius: 25px;
  padding: 10px;
  margin-top: 5px;
  max-width: 25%;
  border: 3px solid white;
  cursor: pointer;
}
.boton-menu:hover, .gestion-usuarios:hover {
  background-color: bisque;
  color: red;
  transform: 1.2;
}

.menu-botones {
  left: 50%;
  right: 60%;
} 
/*Secion de usuarios*/

#menu-usuarios {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8); 
  padding: 10px;
  transition: right 0.3s ease;
  width: 245px; 
  box-sizing: border-box;
  backdrop-filter: blur(15px); 
}

#menu-usuarios h4 {
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px; 
  font-size: 155%;
}

#menu-usuarios > .boton-usuarios {
  background-color:crimson;
  border-radius: 25px;
  padding: 15px;
  margin-top: 15px;
  max-width: 65%;
  text-align: center;
  border: 3px solid white;
  cursor: pointer;
}

.boton-usuarios:hover {
  background-color: chartreuse;
  color: blue;
  transform: 1.2;
}

#user {
  color: aliceblue;
  margin-left: 6px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.fondo {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  background-color: RGBA(0,0,0, 0.6);
}
/*Pop-ups para inicio de sesion y Creacion de usuario*/
/*Para la creacion de usuarios*/
#crear-usuario, #iniciar-sesion-menu,#cerrar-selector-juego {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  background-image: url(/src/img/papel-fondo-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  border-radius: 25px;
  padding-bottom: 25px;
  width: 70%; 
  display: none;
}

#crear-usuario > p ,#cerrar-inicio-sesion{
  text-align: center;
  margin-left: 96%;
  transition: 1.2s;
  cursor: pointer;
}
#crear-usuario > p:hover ,#cerrar-inicio-sesion:hover, #cerrar-selector-juego:hover {
  transform: scale(1.5);
  color: blue;
}
#crear-usuario h5 ,#iniciar-sesion-menu > h5{
  font-size: 185%;
  text-align: center;
  font-family: Rubik Burned;
}

#crear-usuario input {
  margin: 6px;
  max-width: 100%; 
  padding: 1%;
  border-radius: 25px;
}
#guardar-usuario {
  background-color: black;
  color: aliceblue;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  margin-top: 10px;
}
#guardar-usuario:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  transition: 1.2s;
}

/*Para los usuarios registrados*/
#lista-usuarios {
  text-align: center;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#iniciar-sesion-menu > p:nth-of-type(2) {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 20px; 
}



#lista-usuarios li {
  padding: 5px;
  cursor: pointer;
}


#lista-usuarios li:hover {
  color: red;
  transition: 0.7s;
}

/*Selector de juego*/
#selector-juego {
padding: 2px;
background-color: slategrey;
margin-left: 15%;
margin-right: 15%;
}
#selector-juego h4 {
  font-family: Sixtyfour;
  text-align: center;
  color: red;
  font-size: 35px;
}
.juego, #contra-huida {
  background-color: grey;
}
.juego p ,#contra-huida{
  font-family: Sixtyfour;
}
.juego p:hover {
  color: red;
}
#contra-huida:hover {
  background-color: red;
  color: aliceblue;
}