body {
  background-color: black;
}
/*Menu de inicio*/
.boton {
  background-color: red;
  color: aliceblue;
  border-radius: 25px;
  max-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.boton a:hover {
    color: aqua;
    transition: 0.5;
}
.boton-menu {
  background-color: red;
  border-radius: 25px;
  padding: 10px;
  margin-top: 5px;
  max-width: 25%;
  border: 3px solid white;
}
.boton-menu:hover {
  background-color: bisque;
  color: red;
  transform: 1.2;
}
/*La secion del manual para el usuario*/
.contenedor-manual {
  display: flex;
  background-image: url(/img/papel-fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  justify-content: center; 
  align-items: center;
  border: solid 5px white;
}
.contenedor-manual h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  font-size: x-large;
}

.volver {
  display: flex;
  background-color: red;
  color: aliceblue;
  border-radius: 25px;
  max-width: 215px;
  max-height: 110px;
  margin-top: 20px;
  margin-right: 25px;
  align-items: center; /* Añadido para centrar verticalmente los elementos */
}



.volver img {
  width: 20px;
  height: 20px;
  margin-right: 15px; 
  margin-left: 5px;

}
.volver img:hover {
  filter: saturate(150%);
  transition: 0.7s;
}