@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

body {
    background-color: black;
}

.cabecera {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cabecera img {
  max-width: 80%;
}
.cabecera h3 {
  color: aliceblue;
  font-size: xx-large;
  font-family: Rubik Burned, Geneva, Tahoma, sans-serif;
}

.contenedor-manual {
    background-image: url(/src/img/papel-fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: solid 5px white;
  }
  .contenedor-manual h3 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    align-items: center;
    margin-left: 15px;
    font-size: 150%;
  }
  .contenedor-manual p {
    font-size: 120%;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .volver {
    display: flex;
    background-color: red;
    color: aliceblue;
    border-radius: 25px;
    max-width: 215px;
    max-height: 110px;
    margin-top: 20px;
    margin-right: 25px;
    align-items: center; 
  }
  
  .volver img {
    width: 20px;
    height: 20px;
    margin-right: 15px; 
    margin-left: 5px;
  
  }
  .volver img:hover {
    filter: saturate(150%);
    transition: 0.7s;
  }