body {
  background-color: black;
}
#tablero-sudoku {
  border: 2px solid black;
  padding: 5px;
  justify-content: center;
  background-color: rgb(87, 8, 8);
}

#tablero-sudoku > tr > td {
  border: 2px solid black;
  background-color: aliceblue;
  padding: 25px;
}

#sample {
  text-align: center;
  background-color: bisque;
}
.sample-text {
  font-size: 20px;
}
.numero-sample {
  display: inline-block; 
  border: 1 solid black;
}
.numero-vacio {
  background-color: rgb(159, 192, 181);
  cursor: pointer;
}

.oculto-visualmente {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cassila-acertada {
  border: 2px solid rgb(38, 202, 5);
  background-color: aliceblue;
}
