@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body {
  background-color: black;
}
#tablero-sudoku {
  margin: auto; 
  max-width: 600px; 
  border: 2px solid black;
  padding: 5px;
  background-color: rgb(87, 8, 8);
}


#tablero-sudoku > tr > td {
  border: 2px solid black;
  background-color: black;
  width: 50px; 
  height: 50px; 
}
#sample {
  margin: 25px;
  text-align: center;
  background-color: rgb(49, 39, 58);
  padding-top: 5px;
  padding-bottom: 25px;
}

#sample p {
  font-family: 'Source Code Pro', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  font-size: 25px;
}

.sample-text {
  font-size: 20px;
}
.numero-sample {
  display: inline-block; 
  border: 1px solid black; 
  width: 50px; 
  height: 50px; 
}
.numero-sample > img {
  max-width: 50px; 
  max-height: 50px; 
}
.numero-sample > p {
 margin-top: 25px;
}
.numero-vacio {
  cursor: pointer;
}

.oculto-visualmente {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.imagen-sudoku {
  max-width: 50px; 
  max-height: 50px; 
}

