@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

body {
    background-image: url(/src/img/Oxido.jpg);
}

#tablero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    margin: 30px auto; 
    max-width: 600px; 
}

.carta {
    background-size: cover;
    background-position: center; 
    height: 280px; 
    width: 150px; 
    cursor: pointer;
}
.acertada {
    cursor: none;
    display: none;
}

#errores {
    background-color: gray;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .error {
    background-color: rgb(73, 73, 73);
    width: 20px;
    height: 20px;
    margin: 5px;
  }
  
  .erroneo {
    background-color: red;
  }
